@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Raleway&display=swap');
* {box-sizing: border-box;}


body {
  font-family: 'Comfortaa', sans-serif;
  font-family: 'Raleway', sans-serif;
  color: black;
  margin: 0;
  background-image: url("https://media-wbp.wgcdn.co/media/filer_public/5d/a7/5da7c6a7-2f57-47c1-9d4b-8c0e8e09c656/grille-keyart-btc-new.jpg");
  background-size: cover;
}

h1, h2, h3 {
  font-family: 'Fredoka One';
}

.index {
  background-color: #ffffff;
}

.menu {
  padding: 6px;
  border-radius: 3px;
  cursor: pointer;
  position: fixed;
  right: 100px;
}

.menu-polozky {
  list-style-type: none;
  font-size: 30px;
  padding-top: 50px;
}

.skryte {
  display: none;
}

nav {
  background-color: rgb(241, 241, 241);
  color: black;
  font-size: larger;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 1;
}

.divnav {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
}

.logo {
  margin-top: 5px;
}

li {
  display: inline-block;
  text-decoration: none;
  margin-right: 30px;
}

li a {
  color: #000000;
  text-decoration: none;
}

li a:hover{
  color: rgb(53, 73, 255);
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
  font-size: 30px;
}

 #---------------------------
 
* {box-sizing: border-box;
}

body {
  margin: 0;
}

nav > h2 > a {
  color:  #333;
  text-decoration: none;
}

a:hover {
  color: rgb(107, 107, 107);
  text-decoration: none;
}

/*header {
  background-color: #f7f7f7;
  color: #000000;
  font-size: 69px;
  text-align: center;
  padding: 16px;
  height:300px;
}

#house {
  position: absolute;
  left: 100px;
  top: 0px;
}

#rarrow {
  position: absolute;
  left: 70px;
  top: 180px
}

#larrow {
  position: absolute;
  right: 70px;
  top: 180px;
}
header h1 {
  margin: 0;
} */

.Hcontainer {
  display: grid;
  background-color: rgb(241, 241, 241);
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: 
  ". . . . . . ."
  ". . . crown . . ."
  ". . . htext . . ."
  ". arrowL . . . . ."
  ". . . . . arrowR ."
  ;
}

.crown {
  grid-area: crown;
  text-align: center;
  font-size: 70px;
}

.htext {
  grid-area: htext;
  text-align: center;
  font-size: 69px;
  font-family: Raleway, sans-serif;
}


main {
  width: 80%;
  margin: 16px auto;
  max-width: 1000px; /* nastav 1500px pro optimální velikost */
}

section {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 16px;
  margin-bottom: 16px;
}

section h2 {
  margin: 0;
}

footer {
  background-color: #333;
  color: #FFF;
  text-align: center;
  padding: 16px;
}

footer p {
  margin: 0;
}

section {
  display: flex;
}

img {
  max-width: 100%;
}

.infotext {
  margin-top: 16px;
  padding-left: 20px;
}

.goalstext {
  margin-top: 16px;
  padding-left: 20px;
}

.futuretext {
  margin-top: 16px;
  padding-left: 20px;
}

#i1 {
  padding: 20px;
  background-image: url('./pics/Professional_Blue_camouflage.jpg');
  width: 3800px;
  background-size: cover;
  background-position: 40%;  
}

#i2 {
  padding: 20px;
  background-image: url('./pics/tournaments.jpg');
  width: 900px;
  background-size: cover;
  background-position: 49%;
}

#i3 {
  padding: 20px;
  background-image: url('./pics/fire-trial-thumb.jpg');
  width: 970px;
  background-size: cover;
  background-position: 60%;
}

h2{
  font-size: 30px;
}

footer {
  font-family:Raleway, sans-serif;
}

footer form {
  padding: 3px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

footer label {
  font-size: 18px;
  margin-right: 16px;
}

.souhlasim {
  color: #0077cc;
}

footer input[type="email"] {
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

footer input[type="checkbox"] {
  margin-left: 10px;
}

footer button[type="submit"] {
  background-color: #0077cc;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

footer button[type="submit"]:hover {
  background-color: #005ca3;
}

footer input[type="email"]:focus {
  border-color: #0077cc;
  outline: none;
}

footer input:invalid {
  border-color: red;
}

footer input:valid {
  border-color: green;
}

footer button[type="submit"][aria-busy="true"] {
  background-color: #ccc;
}


@media only screen and (min-width: 600px) {
  nav {
      display: flex;
      justify-content: space-between;
  }

  .menu {
      display: none;
  }

  .menu-polozky {
      display: block;
      margin: 0;
      padding: 6px;
  }

  .menu-polozky li {
      display: inline-block;
      padding-left: 12px;
  }
}

.galerietext {
  text-align: center;
  padding-bottom: 10px;
}

#galerie {
  display: grid;
}
.galerie {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 250px);
}

.obrazek {
  background-size: cover;
  background-position: center;
}

#k1 {
  grid-column: 1 / 4;
}

#k1 {
  background-image: url(./pics/galerie/e50m_1920х1080_hDw6u0R.jpg);
}

#k2 {
  background-image: url(./pics/galerie/desktop-wallpaper-Ворлд-Оф-Танкс-Блиц-itl-cat-world-of-tanks-blitz.jpg);
}

#k3 {
  background-image: url(./pics/galerie/update-5-9.jpg__1048x590_q95_subsampling-2.jpg);
  background-size: cover;
  background-position: 100%;
}

#k4 {
  background-image: url(./pics/galerie/hennessey-venom-800-2021-f150-2-web-min.png);
}

#k5 {
  background-image: url(./pics/galerie/World-of-Tanks.jpg);
  grid-column: 1 / 4
}


@media only screen and (max-width: 600px) {
  section {
    display:block
  }

  .menu {
    position: fixed;
    right: 0px;
  }

  .menu-polozky {
    text-align: right;
    }

  h1{
    font-family: 'Fredoka One';
    font-size: 100px;
  }

  #house {
    display: none;
  }
  
  #rarrow {
    display: none;
  }
  
  #larrow {
    display: none;
  }

  #i1 {
    padding: 20px;
    background-image: url('./pics/Professional_Blue_camouflage.jpg');
    width: 280px;
    height: 280px;
    background-size: cover;
    background-position: 40%;  
  }
  
  #i2 {
    padding: 20px;
    background-image: url('./pics/tournaments.jpg');
    width: 280px;
    height: 280px;
    background-size: cover;
    background-position: 49%;
  }
  
  #i3 {
    padding: 20px;
    background-image: url('./pics/fire-trial-thumb.jpg');
    width: 280px;
    height: 280px;
    background-size: cover;
    background-position: 60%;
  }

  .galerie {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 250px);
    grid-auto-flow: dense;
  }

  #k1 {
    grid-column: 1/4;
  }

  #k2 {
    grid-column: 1/4;
  }

  #k3 {
    grid-column: 1/4;
  }

  #k4 {
    grid-column: 1/4;
  }

  #k5 {
    grid-column: 1/4;
  }
}
