@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Raleway&display=swap');
* {box-sizing: border-box;}

:root {
  --white-colour: rgb(241, 241, 241);
  --white-colour-08: rgb(241, 241, 241, 0.8);
  --black-colour: rgb(0, 0, 0);
  --grey-colour: rgb(39, 39, 39);
  --blue-colour: rgb(53, 73, 255);
  --blue-colour-06: rgba(53, 73, 255, 0.6);
  --link-colour: rgb(216, 183, 52);
  --red-colour: rgb(228, 52, 52);
  --green-colour: rgb(71, 209, 47);
}

body {
  font-family: 'Comfortaa', sans-serif;
  font-family: 'Raleway', sans-serif;
  color: black;
  margin: 0;
  background-image: url("./pics/waves-macos-big-sur-colorful-5k-6016x6016-4992.jpg");
  background-size: cover;
}

h1, h2, h3 {
  font-family: 'Raleway';
}

.index {
  background-color: var(--white-colour);
}

.menu {
  padding: 6px;
  border-radius: 3px;
  cursor: pointer;
  position: fixed;
  right: 100px;
}

.menu-polozky {
  list-style-type: none;
  font-size: 30px;
  padding-top: 50px;
}

.skryte {
  display: none;
}

nav {
  background-color: var(--white-colour);
  color: black;
  font-size: 2rem;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 1;
}

.divnav {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
}

.logo {
  margin-top: 5px;
}

li {
  display: inline-block;
  text-decoration: none;
  margin-right: 30px;
}

li a {
  color: var(--black-colour);
  text-decoration: none;
}

li a:hover{
  color: var(--blue-colour);
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
  font-size: 30px;
}

body {
  margin: 0;
}

nav > h2 > a {
  color:  var(--black-colour);
  text-decoration: none;
}

/*header {
  background-color: #f7f7f7;
  color: #000000;
  font-size: 69px;
  text-align: center;
  padding: 16px;
  height:300px;
}

#house {
  position: absolute;
  left: 100px;
  top: 0px;
}

#rarrow {
  position: absolute;
  left: 70px;
  top: 180px
}

#larrow {
  position: absolute;
  right: 70px;
  top: 180px;
}
header h1 {
  margin: 0;
} */

.Hcontainer {
  display: grid;
  background-color: var(--white-colour);
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: 
  ". . . . . . ."
  ". . . crown . . ."
  ". arrowL htext htext htext arrowR ."
  ". . htext htext htext . ."
  ". . . . . . ."
  ;
}

.crown {
  grid-area: crown;
  text-align: center;
  font-size: 70px;
}

.htext {
  grid-area: htext;
  text-align: center;
  font-size: 5rem;
  font-family: Raleway, sans-serif;
}

.arrowL {
  grid-area: arrowL;
  text-align: center;
  font-size: 60px;
}

.arrowR {
  grid-area: arrowR;
  text-align: center;
  font-size: 60px;
}

main {
  width: 80%;
  margin: 16px auto;
  max-width: 1000px; /* nastav 1500px pro optimální velikost */
}

section {
  background-color: var(--white-colour-08);
  padding: 16px;
  margin-bottom: 16px;
}

section h2 {
  margin: 0;
}

footer {
  background-color: var(--grey-colour);
  color: var(--white-colour);
  text-align: center;
  padding: 16px;
}

footer p {
  margin: 0;
}

section {
  display: flex;
}

img {
  max-width: 100%;
}

.underline {
  border-bottom: 2px solid var(--blue-colour-06);
}

.infotext {
  margin-top: 16px;
  padding-left: 20px;
}

.goalstext {
  margin-top: 16px;
  padding-left: 20px;
}

.futuretext {
  margin-top: 16px;
  padding-left: 20px;
}

#i1 {
  padding: 20px;
  background-image: url('./pics/Professional_Blue_camouflage.jpg');
  width: 3800px;
  background-size: cover;
  background-position: 40%;  
}

#i2 {
  padding: 20px;
  background-image: url('./pics/tournaments.jpg');
  width: 900px;
  background-size: cover;
  background-position: 49%;
}

#i3 {
  padding: 20px;
  background-image: url('./pics/fire-trial-thumb.jpg');
  width: 970px;
  background-size: cover;
  background-position: 60%;
}

h2{
  font-size: 3rem;
}

footer {
  font-family:Raleway, sans-serif;
}

footer form {
  padding: 3px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

footer label {
  font-size: 18px;
  margin-right: 16px;
}

.souhlasim {
  color: var(--link-colour);
}

.divstyle {
  padding-bottom: 10px;
  padding-top: 5px;
}

.xmark {
  display: flex;
  position: relative;
}

.xmark button {
  position: absolute;
  right: 0;
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 16px;
  transition: color 0.3s ease;
}

.xmark button:hover {
  color: var(--red-colour);
}

footer input[type="email"] {
  padding: 10px;
  font-size: 18px;
  border: 1px solid var(--white-colour);
  border-radius: 8px;
  outline: none;
}

footer input[type="checkbox"] {
  margin-left: 10px;
}

footer button[type="submit"] {
  background-color: var(--blue-colour);
  color: var(--white-colour);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

footer button[type="submit"]:hover {
  background-color: var(--blue-colour-06);
}

footer input[type="email"]:focus {
  border-color: var(--blue-colour);
  outline: none;
}

footer input:invalid {
  border-color: var(--red-colour);
}

footer input:valid {
  border-color: var(--green-colour);
}

footer button[type="submit"][aria-busy="true"] {
  background-color: var(--white-colour);
}


@media only screen and (min-width: 600px) {
  nav {
      display: flex;
      justify-content: space-between;
  }

  .menu {
      display: none;
  }

  .menu-polozky {
      display: block;
      margin: 0;
      padding: 6px;
  }

  .menu-polozky li {
      display: inline-block;
      padding-left: 12px;
  }
}

.galerietext {
  text-align: center;
  padding-bottom: 10px;
}

#galerie {
  display: grid;
}
.galerie {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 250px);
}

.obrazek {
  background-size: cover;
  background-position: center;
}

#k1 {
  grid-column: 1 / 4;
}

#k1 {
  background-image: url(./pics/galerie/e50m_1920х1080_hDw6u0R.jpg);
}

#k2 {
  background-image: url(./pics/galerie/desktop-wallpaper-Ворлд-Оф-Танкс-Блиц-itl-cat-world-of-tanks-blitz.jpg);
}

#k3 {
  background-image: url(./pics/galerie/update-5-9.jpg__1048x590_q95_subsampling-2.jpg);
  background-size: cover;
  background-position: 100%;
}

#k4 {
  background-image: url(./pics/galerie/hennessey-venom-800-2021-f150-2-web-min.png);
}

#k5 {
  background-image: url(./pics/galerie/World-of-Tanks.jpg);
  grid-column: 1 / 4
}


@media only screen and (max-width: 600px) {
  section {
    display:block
  }

  .menu {
    position: fixed;
    right: 0px;
  }

  .menu-polozky {
    text-align: right;
    }

  h1{
    font-family: 'Fredoka One';
    font-size: 100px;
  }

  #house {
    display: none;
  }
  
  #rarrow {
    display: none;
  }
  
  #larrow {
    display: none;
  }

  #i1 {
    padding: 20px;
    background-image: url('./pics/Professional_Blue_camouflage.jpg');
    width: 280px;
    height: 280px;
    background-size: cover;
    background-position: 40%;  
  }
  
  #i2 {
    padding: 20px;
    background-image: url('./pics/tournaments.jpg');
    width: 280px;
    height: 280px;
    background-size: cover;
    background-position: 49%;
  }
  
  #i3 {
    padding: 20px;
    background-image: url('./pics/fire-trial-thumb.jpg');
    width: 280px;
    height: 280px;
    background-size: cover;
    background-position: 60%;
  }

  .galerie {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 250px);
    grid-auto-flow: dense;
  }

  #k1 {
    grid-column: 1/4;
  }

  #k2 {
    grid-column: 1/4;
  }

  #k3 {
    grid-column: 1/4;
  }

  #k4 {
    grid-column: 1/4;
  }

  #k5 {
    grid-column: 1/4;
  }

  
.Hcontainer {
  display: grid;
  background-color: var(--white-colour);
  grid-template-columns /*sloupec*/: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: 
  ". . . . ."
  ". . crown . ."
  "arrowL . htext . arrowR"
  ". . . . ."
  ;
}

.crown {
  grid-area: crown;
  text-align: center;
  font-size: 70px;
}

.htext {
  grid-area: htext;
  text-align: center;
  font-size: 69px;
  font-family: Raleway, sans-serif;
}

.arrowL {
  grid-area: arrowL;
  text-align: center;
  font-size: 50px;
}

.arrowR {
  grid-area: arrowR;
  text-align: center;
  font-size: 50px;
}

}


*, ::before, ::after {
  box-sizing: border-box;
}

.obrazek1 {
  position: relative;
  width: 35px;
  display: inline-block;
  padding-right: 10px;
}

.obrazek2 {
  position: relative;
  width: 35px;
  display: inline-block;
  padding-right: 10px;
}

.input_container {
  display: flex;
  align-items: center;
}

.popup-overlay {
  font-family: 'Raleway';
  position: fixed;
  z-index: 2;
  background-color: rgba(46, 46, 46, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: opacity 1s ease-out;
  opacity: 1;
}

.popup-window {
  width: 400px;
  height: 400px;
  padding: 1rem;
  position: absolute;
  left: calc((100vw - 400px)/2);
  top: calc((100vh - 400px)/2);
  background: rgba(194, 194, 252, 2);
  border: 2px solid var(--blue-colour);
  border-radius: 15px;
  box-shadow: 6px 6px 10px var(--blue-colour-06);
}

input[type=text], input[type=email] {
  width: 100%;
  padding: 10px;
  display: inline-block;
  border: none;
  border-radius: 10px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
  outline: 1.5px solid transparent;
  transition: outline-color 0.3s;
}

input[type=email]:focus {
  border: none;
  outline-color: var(--black-colour);
}


input[type=text]:focus {
  border: none;
  outline-color: var(--black-colour);
}

.subscribe_container {
  text-align: center;
  margin-top: 1.5rem;
}

input[type=submit] {
  background: rgb(85,63,251);
  background: linear-gradient(248deg, rgba(85,63,251,1) 0%, rgba(103,89,221,1) 55%, rgba(63,79,251,1) 100%);
  border-radius: 15px;
  width: 110px;
  text-align: center;
  height: 50px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: 0.3s
}

input[type=submit]:hover {
  opacity: 0.8;
}

.popup_header {
  font-size: 2rem;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

#errorContainer {
  display: none;
  color: red; 
  margin-top: 0.5rem;
  text-align: left;
}

.closed {
  display: none;
}
